*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.calculator{
    background-color: grey;
    width: 300px;
    height: 350px;
    margin: 20px auto;
    display: flex;
    flex-flow: column wrap;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgb(63, 63, 63);
}
.calculator__screen{
    background-color: whitesmoke;
    max-width: 90%;
    margin: 20px auto;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    display: block;
    font-size: 1.8rem;
    word-wrap: break-word;
}
.calculator__button{
    width: 50px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(78, 77, 77);
}
.calculator__button:hover{
    opacity: 0.5;
}
.operator{
    background-color: orange;
    color: white;
}