* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --BGCOLOR: #74d1f0;
    --BGCOLOR-SB: whitesmoke;
    --COLOR: black;
    --BORDER: 1px solid #324ff5;
}

body {
    background-color: var(--BGCOLOR);
    display: flex;
    gap: 1em;
    margin-top: 20px;
}

.sidebar {
    background-color: transparent;
    width: 40%;
    height: 80vh;
    border: var(--BORDER);
}

.sidebar__h3 {
    background-color: rgb(91, 91, 237);
    color: white;
    padding: 5px;
    border: var(--BORDER);
}

.sidebar__ul {
    list-style-type: none;
    border-top: var(--BORDER);
    background-color: var(--BGCOLOR-SB);
}

.sidebar__a {
    color: var(--COLOR);
    text-decoration: none;
    font-weight: bold;
    padding: .2em;
    display: block;
}

.main {
    background-color: var(--BGCOLOR-SB);
    width: 60%;
    border: var(--BORDER);
}

.welcome {
    background-color: blanchedalmond;
    font-weight: bold;
}

.main__title {
    background-image: linear-gradient(#a1e0f4 60%, #74d1f0 40%);
    font-weight: lighter;
}

.main__link:any-link {
    color: blue;
    text-decoration: none;
}

.table__nav {
    display: flex;
    justify-content: space-between;
    background-color: #c7e9f3;
}

.table__link {
    text-decoration: none;
    display: inline-block;
    color: blue;
    border-right: var(--BORDER);
}

.table__link:active {
    background-color: var(--BGCOLOR-SB);
}