body{
    background-color: #e8e8e8;
    margin:0;
    padding: 0;
    line-height: 25px;
    min-height: 400vh;
}
.header{
    font-weight: bolder;
    font-size: 25px;
}
.afirst p{
    background-color: white;
    margin: 0;
    padding: 20px;
}
.first{
    background-color: #00a4a6;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.second{
    text-decoration: none;
    color: rgb(39, 39, 39);
}
.second:hover{
    color:rgb(0, 170, 255);
    text-decoration: underline;
}
.third{
    font-family:sans-serif;
    font-weight: bold;
    opacity: 0.6;
}
.forth{
    text-decoration: none;
    cursor:pointer;
}
.fifth,a{
    text-align: center;
    text-decoration: none;
    font-size:30px;
    color: #00a4a6;
}
.fifth a:hover{
    text-decoration: underline;
}
.sixth,h2{
    background-color: white;
    margin: 0;
    padding: 15px;
}
.arsteric{
    color:red;
}
input{
    border-radius: 5px;
    height: 35px;
    border: 1px solid black;
}
.column{
    columns: 3;
    column-rule: 2px solid black;
}
.column p{
    margin: 0;
}
.column h2{
    margin: 0;
    background-color: grey;
    padding: 16px;
    color: white;
    break-inside: avoid;
    /* break-before: column; */
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr 2fr);
    grid-auto-rows: minmax(150px,auto);
    gap: 8px;
}
.box{
    color: white;
    background-color: black;
    font-size: 16px;
    padding: 8px;
}